<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>All books sss</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" th:href="@{/img/apple-icon.png}">
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
  <!-- Load Require CSS -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Font CSS -->
  <link th:href="@{/css/boxicon.min.css}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
  <!-- Load Tempalte CSS -->
  <link rel="stylesheet" th:href="@{/css/templatemo.css}">
  <!-- Custom CSS -->
  <link rel="stylesheet" th:href="@{/css/custom.css}">
  <!--

  TemplateMo 561 Purple Buzz

  https://templatemo.com/tm-561-purple-buzz

  -->
</head>

<body>
<!-- Header -->
<nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
  <div class="container d-flex justify-content-between align-items-center">
    <a class="navbar-brand h1" th:href="@{index}">
      <i class='bx bx-buildings bx-sm text-dark'></i>
      <span class="text-dark h4">Book</span> <span class="text-primary h4">Store</span>
    </a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="navbar-toggler-success">
      <div class="flex-fill mx-xl-5 mb-2">
        <ul class="nav navbar-nav d-flex justify-content-between mx-xl-5 text-center text-dark">
          <li class="nav-item">
            <a class="nav-link btn-outline-primary rounded-pill px-3" th:href="@{index}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-outline-primary rounded-pill px-3" th:href="@{about}">About</a>
          </li>
          <li class="nav-item navbar-light text-black-50">
            <a class="nav-link btn-outline-primary rounded-pill px-3" th:href="@{all_books}">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-outline-primary rounded-pill px-3" th:href="@{create_account}">Create Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-outline-primary rounded-pill px-3" th:href="@{login}">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- Close Header -->

<div class="container my-5 p-5" style="border: 1px solid black;">
  <h4 class="text-center">New Book Register</h4>
  <form class="col-md-4 offset-md-4" th:action="@{/save}" method="post">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name">

    </div>
    <div class="mb-3">
      <label for="author" class="form-label">Author</label>
      <input type="text" class="form-control" id="author" name="author">

    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="text" class="form-control" id="price" name="price">

    </div>

    <center><button type="submit" class="btn btn-primary">Submit</button></center>
  </form>
</div>

<!-- Bootstrap -->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<!-- Load jQuery require for isotope -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Isotope -->
<script th:src="@{/js/isotope.pkgd.js}"></script>
<!-- Page Script -->
<script>
  $(window).load(function() {
    // init Isotope
    var $projects = $('.projects').isotope({
      itemSelector: '.project',
      layoutMode: 'fitRows'
    });
    $(".filter-btn").click(function() {
      var data_filter = $(this).attr("data-filter");
      $projects.isotope({
        filter: data_filter
      });
      $(".filter-btn").removeClass("active");
      $(".filter-btn").removeClass("shadow");
      $(this).addClass("active");
      $(this).addClass("shadow");
      return false;
    });
  });
</script>
<!-- Templatemo -->
<script th:src="@{/js/templatemo.js}"></script>
<!-- Custom -->
<script th:src="@{/js/custom.js}"></script>

</body>

</html>