<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edite Book </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" th:href="@{/img/apple-icon.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <!-- Load Require CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Font CSS -->
    <link th:href="@{/css/boxicon.min.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link rel="stylesheet" th:href="@{/css/templatemo.css}">
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <!--

    TemplateMo 561 Purple Buzz

    https://templatemo.com/tm-561-purple-buzz

    -->
</head>

<body>
<!-- Header -->
<div th:replace="fragments/topNav::adminNavbar"></div>
<!-- Close Header -->


<div class="container my-5 p-5" style="border:1px solid black;">
    <h4 class="text-center">Edit Book Here</h4>
    <form class="col-md-4 offset-md-4" th:action="@{/save}" method="post" th:object="${book}">

        <input type="hidden" name="id" th:value="${book.book_id}"/>
        <div class="mb-3">
            <label for="name" class="form-label">Name
            </label> <input type="text" id="name" class="form-control" name="name" th:value="${book.name}">
        </div>

        <div class="mb-3">
            <label for="author" class="form-label">Author
            </label> <input type="text" id="author" class="form-control" name="author" th:value="${book.author}">
        </div>
        <div class="mb-3">
            <label for="price" id="price" class="form-label">Price
            </label> <input type="text" class="form-control" name="price" th:value="${book.price}">
        </div>

        <center><button type="submit" class="btn btn-primary">Submit</button></center>
    </form>
</div>

<!-- Bootstrap -->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<!-- Load jQuery require for isotope -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Isotope -->
<script th:src="@{/js/isotope.pkgd.js}"></script>
<!-- Page Script -->
<script>
    $(window).load(function() {
        // init Isotope
        var $projects = $('.projects').isotope({
            itemSelector: '.project',
            layoutMode: 'fitRows'
        });
        $(".filter-btn").click(function() {
            var data_filter = $(this).attr("data-filter");
            $projects.isotope({
                filter: data_filter
            });
            $(".filter-btn").removeClass("active");
            $(".filter-btn").removeClass("shadow");
            $(this).addClass("active");
            $(this).addClass("shadow");
            return false;
        });
    });
</script>
<!-- Templatemo -->
<script th:src="@{/js/templatemo.js}"></script>
<!-- Custom -->
<script th:src="@{/js/custom.js}"></script>

</body>

</html>